<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Watch Next: Selection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="topnav" class="topnav" th:replace="fragments/header :: header">
    <a href="#">Home</a>
    <a href="#">Add Item</a>
    <a href="#" class="active">Suggestion</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<h1>Selection</h1>
<label th:text="${item.name}">Game of Thrones</label><br><br>
<script type="text/javascript" src="../static/js/topnav.js" th:src="@{/js/topnav.js}"></script>
</body>
</html>
